@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dangrek&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hero start */

.hero {
    height: 100vh;
    width: 100%;
    background-image: url('../img/fondo1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.hero-content {
    width: 500px;
    height: 500px;
    background-color: #347537a9;
    position: absolute;
    top: 20%;
    left: 1%;

    text-align: left;

    z-index: 1;
}

.hero-text {
    padding: 2rem;
}

.hero-text h1 {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 900;
    color: white;
    margin-bottom: 1rem;
}

.hero-text p {
    font-family: Montserrat;
    font-size: 1.1rem;
    font-weight: 300;
    color: white;
    margin-bottom: 2rem;
}

.hero-text a {
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: .3s ease-out;


}

.hero-info {
    width: 400px;
    height: fit-content;
    background-color: rgb(7, 7, 34);
    position: absolute;
    top: 50%;
    left: 8%;

    text-align: left;

    z-index: 2;
}

.hero-title {
    position: absolute;
    top: 20%;
    right: 1%;

    text-align: right;

    z-index: 1;
}

.hero-title h1 {
    font-family: Montserrat;
    font-size: 7rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
}

.hueco {
    font-size: 6rem;
    font-family: 'Bebas Neue', cursive;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(7, 7, 34);
    color: transparent;
}

.title-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

}



.title-btn a {

    font-size: 1.5rem;
    font-weight: 300;

}

.hero-text a:hover {
    background-color: white;
    color: black;
}

/* hero ends */

.country-info {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-top: 2rem;
}

.country-info h1 {
    font-family: Montserrat;
    font-size: 7rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-left: 3rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-photo {
    flex: 50% 0;
    background-color: #347537a9;
}

.container-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: justify;
    padding: clamp(2rem, 4vw, 4rem);

}

.span-grey {
    color: rgb(56, 56, 56);
    font-weight: 600;
}

.container-text h2 {
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 600;

    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
}

.container-text h3 {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(39, 39, 39);
    margin-bottom: 1rem;
}

.container-text p {
    font-family: Montserrat;
    font-size: 1.2rem;
    margin: 15px 0;
}

.photo1 {
    aspect-ratio: 5/3;
    background-image: url('../img/pexels-tirachard-kumtanom-112571-472309.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.photo2 {
    aspect-ratio: 5/3;
    background-image: url('../img/pexels-pixabay-161183.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.container-reverse {
    flex-flow: row-reverse;
}

.photo3 {
    aspect-ratio: 5/3;
    background-image: url('../img/pexels-pixabay-327494.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.photo4 {
    aspect-ratio: 5/3;
    background-image: url('../img/pexels-freestockpro-1031780.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

/* info end */

/* galery start */


/* galery end */

.gallery {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-top: 2rem;
}

.gallery h1 {
    font-family: Montserrat;
    font-size: 7rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-left: 3rem;
}



.grid-gallery {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 1rem;
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Overlay */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Oscurece la imagen */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: flex-end;
}

.grid-item:hover .overlay {
    opacity: 1;
}

/* Pestaña de información */
.info {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Montserrat;
    font-size: 2rem;


}



.border-span {
    border-bottom: 1px solid white;
    width: 50%;
    margin: 1rem 0;

}

.info a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 10px 20px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.2);
    position: relative;

    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.overlay:hover .info a {
    transform: translateX(0);
    opacity: 1;
}

.info a:hover {
    background: white;
    color: black;
    border-color: white;
}



.grid-item:hover .info {
    transform: translateY(0);
}

/* Clases para el grid */
.col-span-2 {
    grid-column: span 2;
}

.row-span-2 {
    grid-row: span 2;
}

/* galery end */

/* situtation */

.situation-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.situation-photo1 {
    flex: 2;
    background-image: url("../img/galeria/monge.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.situation-photo2 {
    flex: 2;
    background-image: url("../img/galeria/muñeca.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.situation-info {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;

    width: 70%;
}

.tech {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

}

.tech:nth-child(1) {
    border-right: 1px solid black;
    border-bottom: 1px solid black;

}

.tech:nth-child(3) {

    border-right: 1px solid black;

}

.tech:nth-child(2) {
    border-bottom: 1px solid black;

}

.tech:nth-child(odd) {
    text-align: right;
}

.tech:nth-child(even) {
    text-align: left;
}

.tech h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    color: #347537a9;
    font-weight: 500;
}

.tech p {
    font-family: Montserrat;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    margin: 1rem 0;
}

/* situtation end*/



/* banner */

.banner {
    background-image: url("../img/galeria/pexels-diva-30903798.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    height: 40vh;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.banner h2 {
    font-family: "Dangrek", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    color: white;
    margin-bottom: 1rem;
}

/* banner end */

/* HISTORIA */

.history {
    display: flex;
    flex-flow: column;
    justify-content: start;
    margin-top: 2rem;

    background-image: url("../img/timeline2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 130vh;

}

.container-history {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin-top: 2rem;
    width: 80%;
    margin: 0 auto;

}



.facts-history {
    display: flex;
    flex-flow: row-reverse;
    align-self: flex-end;
    margin-top: 2rem;
    gap: 2rem;

    width: 50%;

}

.facts-historyr {
    display: flex;
    flex-flow: row;
    align-self: flex-start;
    gap: 2rem;

    width: 50%;

}


.photo-history1 {
    width: 150px;
    height: 150px;
    background-image: url('../img/galeria/Parque-Histórico-de-Sukhothai.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo-history2 {
    width: 150px;
    height: 150px;
    background-image: url('../img/galeria/12129.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo-history3 {
    width: 150px;
    height: 150px;
    background-image: url('../img/galeria/war.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo-history4 {
    width: 150px;
    height: 150px;
    background-image: url('../img/galeria/elgafas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo-history5 {
    width: 150px;
    height: 150px;
    background-image: url('../img/galeria/nombre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.conte-history {
    width: 60%;
    text-align: justify;
}

.conte-history h2 {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 600;

    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
}

.conte-history h3 {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(39, 39, 39);
    margin-bottom: .3rem;
}

.conte-history p {
    font-family: Montserrat;
    font-size: 1.1rem;
    margin: 15px 0;
}

.no-mg {
    margin-top: 0rem;
}




/* FINAL HISTORIA */

/* mascara */
.mascara {
    position: relative;
    background-image: url("../img/mascara-brillo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
}



.masc-hue {
    font-size: 20rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    color: transparent;
}

.mascara-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.mascara-container h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 8rem;
    font-weight: 600;
    font-style: normal;
    color: white;
}

.mascara-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    text-align: justify;
}
.mascara-content p {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
}

.mascara-btn {
    margin-bottom: 1rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mascara-btn a {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    
    text-decoration: none;
    border: 1px solid white;
    padding: .5rem 1rem;
    transition: .3s ease-out;
}

.mascara-btn a:hover {
    background-color: white;
    color: black;
}

/* mascara end */

/* Responsive */
@media screen and (max-width: 1024px) {
    .grid-gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;
    }
}